configs/settings.json

solarterra_submodules/data_cdf/migrations/*.py
!solarterra_submodules/data_cdf/migrations/__init__.py

solarterra_submodules/data_cdf/models/*.py
!solarterra_submodules/data_cdf/models/__init__.py

main.py

__pycache__/
*.py[cod]
*$py.class

.env
.venv
venv/
env/

db.sqlite3
db.sqlite3-journal
media/

*.log

.idea/
.vscode/
.DS_Store

.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
