{% extends "base.html" %}

{% load static %}

{% block page_title %}
    Логирование
{% endblock %}

{% block page_css %}
	<link rel="stylesheet" href="{% static 'tables.css' %}">
    <link rel="stylesheet" href="{% static 'info.css' %}">
{% endblock %}

{% block page %}

<div class="page-title">
    Логи ({{ logs.count }})
</div>

<table>
    <tr>
        <th>timestamp</th>
        
        <th>Message</th>
        
    </tr>
    {% for log in logs %}
        <tr>
            <td>{{ log.timestamp|date:"H:i:s  d.m.y" }}</td>
            
            <td>{% if log.code %}
                    <span class="{{ log.code|lower }}">
                        <b>[{{ log.code }}]</b>
                    </span>&emsp;
                {% endif%}
                {{ log.message }}
            </td>

        </tr>
    {% endfor %}
</table>

{% endblock %}