{% extends "base.html" %}

{% load static %}

{% block page_title %}
    Построение
{% endblock %}

{% block page_css %}

{% endblock %}

{% block page %}

<div> 
    <div class="page-flex">
        <div class="central_page">
            <div><b>Временной интервал</b>: {{ t_start|date:'d.m.Y H:i:s' }} - {{ t_stop|date:'d.m.Y H:i:s' }}</div>
        </div>
    </div>

    <div>{{ left_form }}</div>
    <div>{{ right_form }}</div>

    <div>
        {% for plot in plots %}

        <div class="plot-wrapper">
            <div class="plot-chart">
                {% with figure=plot.figure %}
                    {% if figure %}
                        {{ figure|safe }}
                    {% else %}
                        <div class="no_data">Нет данных за выбранный период</div>
                    {% endif %}
                {% endwith %}
            </div>

            <div class="plot-info">
                <div><b>Набор данных:</b>
                    <div><b>{{ plot.variable.dataset.tag }}</b> {{ plot.variable.dataset.logical_description }}</div>
                </div>
                <div><b>Переменная:</b>
                    <div><b>{{ plot.variable.name }}</b> {{ plot.variable.catdesc }}</div>
                </div>
                <div><b># invalid_values</b>:
                    <div>{{ plot.invalid_values }}</div>
                </div>
                <div><b>Показаны только валидные</b>: {% if plot.validate %}Да{% else %}Нет{% endif %}</div> 
                <div><b>Данные агрегированы</b>: {% if plot.aggregation %}Да{% else %}Нет{% endif %}</div>
                {% if plot.bin_instance %}<div><b>Размер бина</b>: {{ plot.bin_instance.bin_td }} (HH:MM:SS) </div>{% endif %}
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}

{% block page_js %}

{% endblock %}
