{% extends "base.html" %}

{% load static %}

{% block page_title %}
    Выбор переменных
{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link rel="stylesheet" href="{% static 'search.css' %}">
    
{% endblock %}

{% block page %}

{{ var_form.media }}


<div class="page-title">
    2. Выбор переменных
</div>

<div>
    <div><b>Выбранные миссии:</b> {{ selected_missions|join:", " }}</div>
    <div><a href="{% url 'select_missions' %}">Изменить миссии</a></div>
</div>

<div>
{% regroup datasets by mission as missions %}
{% for mission in missions  %}
<div class="mission"  onclick="changeVisibility('mission-list-{{ forloop.counter }}');">{{ mission.grouper }} ({{ mission.list|length }})</div>
	<div id="mission-list-{{ forloop.counter }}" hidden>
		{% for dataset in mission.list %}
		<div class="dataset" onclick="changeVisibility('dataset-list-{{ dataset.id }}');">{{ dataset.logical_description }} [{{ dataset.tag }}]</div>
		<div id="dataset-list-{{ dataset.id }}" hidden>

			<div class="dataset-buttons">
				<button type="button" class="dataset-btn" onclick="event.stopPropagation(); selectAllInDataset('dataset-list-{{ dataset.id }}');">Выбрать все</button>
				<button type="button" class="dataset-btn" onclick="event.stopPropagation(); deselectAllInDataset('dataset-list-{{ dataset.id }}');">Очистить</button>
			</div>

			{% for var in  dataset.plottable_variables %}
			<div class="variable" onclick="countVars('variable-choice', 'var-count');checkOnetoOne('{{var.id}}');">
				<input id="poser-{{ var.id }}" type="checkbox"  class="variable-choice">
				&nbsp;
				<label for="poser-{{var.id}}">
					<b>{{ var.name }}</b>
					<span>{{ var.catdesc }}</span>
				</label>
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</div>
{% endfor %}
</div>


<div>Выбрано: <span id="var-count">0</span></div>

<div>{{ var_form.variables.errors }}</div>

<div id="step-2" {% if not has_errors %}hidden{% endif %}>
	<form id="var_form" method="post" action="{% url 'select_variables' %}" target="_blank">
	
	{% csrf_token %}
	<div hidden>{{ var_form.variables }}</div>
	<div class="page-title">3. Выбор временного диапазона</div>

	<div class="simple-flex">
		<div>{{ var_form.ts_start.label }}</div>
		<div>{{ var_form.ts_start }}</div>
	</div>
	<div>{{ var_form.errors.ts_start }}</div>

	<div class="simple-flex">
		<div>{{ var_form.ts_end.label }}</div>
		<div>{{ var_form.ts_end }}</div>
	</div>
	<div>{{ var_form.errors.ts_end }}</div>

	<div>{{ var_form.validate }} <label for="id_validate"> {{ var_form.validate.label }}</label></div>


	<div>
		{{ var_form.non_field_errors }}
		{{ plot_form.non_field_errors }}
		{{ export_form.non_field_errors }}
	</div>


	{#TODO: clean up style here #}
	<div class="page-title">3. Параметры построения и экспорта</div>

	<div>
		<button class="btn" type="submit" formaction="{% url 'plot_clicked' %}" formtarget="_blank">Поcтроить</button>
		<button class="btn" type="submit" formaction="{% url 'export_clicked' %}" formtarget="_blank">Экспортировать данные</button>
	</div>

	</form>
</div>




{% endblock %}


{% block page_js %}

<script src="{% static 'htmx.min.js' %}"></script>

<script src="{% static 'search.js' %}"></script>

<script>
    // $('.dateandtime').dateAndTime();
</script>

{% endblock %}
